<div class="slider">
    <div>
      <div (click)="goToPrevious()" class="leftArrow">❰</div>
      <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div
      class="slide"
      [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
    >
        <p class="bg-white p-4 bg-opacity-10 text-sm md:text-lg font-bold text-white w-full text-center">{{getName()}}</p>
    </div>
    <div class="dotsContainer">
      <div
        *ngFor="let slide of slides; let slideIndex = index"
        class="dot"
        (click)="goToSlide(slideIndex)"
        [ngClass]="currentIndex === slideIndex ? 'text-white' : 'text-black'"
      >
        ●
      </div>
    </div>
</div>